.present {
    background: #BBFCBD;
}

.replace {
    background: lightyellow;
}

.missing {
    background: #FCC6BB;
}

.year {
}

.stampTitle {
    font-weight: bold;
}

.stampImage {
    max-width: 75px;
    max-height: 75px;
}

.blockImage {
    max-width: 150px;
    max-height: 150px;
}

.couplingImage {
    max-width: 200px;
    max-height: 200px;
}


tr {
    vertical-align: top;
}